{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}

    <h1>Hello</h1>
    {% if is_granted('ROLE_USER') %}
        Hello, {{ realname|escape }}.<br />
        {% if mayCreateProjects %}
            Configure your <a href="{{ path('projects') }}">Projects</a>.
        {% endif %}
    {% else %}
        You are not logged in. Please <a href="{{ path('login') }}">connect with Facebook</a>.
    {% endif %}
{% endblock %}
