{% extends 'layout.html.twig' %}
{% set active = 'projects' %}

{% block content %}
    <div class="page-header">
        <h1>Edit project &quot;{{ project.title|escape }}&quot;</h1>
    </div>
    
    {{ form(form, {action: path('projectEdit', {project: project.id})}) }}
{% endblock %}
