{% extends 'layout.html.twig' %}
{% set active = 'projects' %}

{% block content %}
    <div class="page-header">
        <h1>Create project</h1>
    </div>
    
    {{ form(form, {action: path('projectNew')}) }}
{% endblock %}
