# IDE files and folders
.idea
.settings

.project
.buildpath


# Configuration files
resources/config/dev.php
resources/config/prod.php

# Silex directories
vendor/*
*/log/*
*/cache/*
web/assets/*

# Composer
composer.lock


